main {
    padding-bottom: 30px;
}

.title {
    color: #adadad;
    border-bottom: 2px solid #cccccc;
    padding: 15px 0; 
}

form {
    display: flex;
    flex-direction: column;
    
    margin-top: 30px;
}

form .item {
    font-size: 18px;
    display: flex;
    align-items: baseline;
}

form .item:nth-child(n + 2) {
    margin-top: 20px;
}

form .item span {
    display: block;
    max-width: 200px;
    flex-basis: 30%;
}

form .item input {
    font-size: 16px;
    padding: 5px 5px;
}

form .item.selects {
    display: flex;
    flex-wrap: wrap;
}

form .item.selects select {
    padding: 5px 5px;
    font-size: 16px;
}

form .item.selects select:nth-child(n + 2) {
    margin-left: 5px;
}

form .item.desc {
    flex-direction: column;
}

form .item.desc textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    margin-top: 10px;
    resize: none;
    
    font-size: 14px;
    padding: 5px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    
    border: 0px;
    background: #0eaaef;
    color: white;
    font-size: 16px;
    transition: background .1s linear;
}

form input[type="submit"]:hover {
    cursor: pointer;
    background: #0d9ad8;
}

form .item a {
    padding: 10px;
    margin-left: 10px;
    max-width: 300px;
    width: 100%;

    text-align: center;
    text-decoration: none;
    background: #0eaaef;
    color: white;
    font-size: 16px;
    transition: background .1s linear;
}

form .item a:hover {
    cursor: pointer;
    background: #0d9ad8;
}

form input[type="hidden"] {
    width: 0;
    height: 0;
    margin: 0;
}





